body {
  font-weight: 100;
}

footer, a:link, a:visited {
	color: white;
    text-align: center;
}
h1, h2, h3, h4, h5, h6, p, input {
  font-weight: 100;
}

.fellow-list {
  line-height: 105%;  
}

.fellow-list .list-group-item {
  padding: .3rem 1.5rem;
}  

.fellow-list .list-group-item:first-child {
  border-top: none;
  border-radius: 0;
}


.fellow-list .list-group-item:hover {
  background-color: #f8f9fa;
}

.fellow-list a {
  text-decoration: none;
}